<%= form_tag '/form_result', method: :post do %>
<div>
  <%= label_tag :description, 'Enter description: ' %>
  <%= text_field_tag :description %>
  <%= label_tag :location, 'Enter location: ' %>
  <%= text_field_tag :challenge_location %>
  <%= hidden_field_tag :creator_id %>
</div>
<div>
  <%= submit_tag 'Submit challenge!' %>
</div>
<% end %>