<% if current_user %>
  <p>Welcome <%= current_user.full_name %>!</p>
<% end %>

<!-- <h3>All challenges:</h3> -->
<% @challenges.each do |challenge| %>
<a href="/challenges/<%= challenge.id %>"><h4><%= challenge.text %></h4></a>
<p><%= challenge.sport.name %></p>
<p><%= challenge.location.name %></p> 
<% end %>